<nav class="header"> 
    <div class="logo"  routerLink="/home">
        <img style="height: 7vh; margin-right: 1vw;" src="./../../../assets/images/logo.png" alt="">
       <h4 style="margin-top: 2vh;">Work for world</h4> 
    </div>
    <ul>
        <img  routerLink="/home" style="height: 6vh; margin-right: 2vw;" src="./../../../assets/images/homeBar.png" alt="">
        <li class="hoverli" routerLink="/register">Registro Candidato</li>
        <li class="hoverli"  routerLink="/profile"><img style="height: 4vh; margin-top: -2vh; margin-right: 0.6vw;" src="./../../../assets/images/usuario.png" alt="">Mi perfil</li>
         <button class="btn_close" routerLink="/home"><img style="height: 4vh;" src="./../../../assets/images/salir.png" alt=""></button>
    </ul>


</nav>