<section class="container_work">

    <div class="init"></div>


           <div class="welcome">
             <div class="contain-home">
            <h1 style="margin-bottom: 5vh;">Estas buscando el trabajo de tus sueños !!! </h1>

                 <h4>En work for world estamos aqui para ti</h4>
                 <h4 >Miles de oportunidades de empleo están esperándote</h4>

            </div>
               <button routerLink="/register " >Crea tu cuenta </button>
           </div>


</section>
