<section class="containt_profile" >
    <app-header></app-header>
        <section class="data_profile" *ngFor=" let item of profileApplicant; index as i ">

            <header class="header">

            <div class="user">
                <div>
                      <h4 style=" font-weight: 600;">{{item.name}} {{item.lastname}}</h4>  
                </div>
                <div class="file">
                     <span >{{item.titleStudy}}</span>
                </div>
            </div>
                <div class="nameAsp2">
                        <div>
                           <img class="img-ubit" style="margin-right: 0.8vw;" src="./../../../assets/images/edificio.png" alt=""> <span>{{item.nameCompany}}</span>
                        </div>
                        <div>
                            <img class="img-ubit" style="margin-right: 0.8vw;" src="./../../../assets/images/ubication.png" alt=""> <span>{{item.country}}, </span><span>{{item.city}}</span>
                         </div>
               </div>
            </header>

            <app-avatar></app-avatar>

            <div class="about">
                <div class="title_abo">
                   <h5 class="title_style">Sobre mi</h5>
                </div>
               <p name="" id="text_about" cols="40" rows="5" placeholder=" Ejemplo: Soy un Fotografo profesional apasionado por el paisajismo.">
                {{item.aboutMe}}
              </p>


            </div>

                <div class="datosP">
                    <h5 class="title_style" style="margin-bottom: 1vh;">Informacion personal</h5>

                     <span style="color: #474747; font-weight: 600;">Tipo identificación </span>
                        <li >{{item.typeIdent}}</li>
                    <span style="color: #474747; font-weight: 600;">Número identificación </span>
                        <li>{{item.numberIdent}}</li>
                    <span style="color: #474747; font-weight: 600;">Correo Electronico </span>
                        <li>{{item.email}}</li>
                    <span style="color: #474747; font-weight: 600;">Telefono contacto </span>
                        <li>{{item.phoneContact}}</li>
                    <span style="color: #474747; font-weight: 600;">Fecha  Nacimiento </span>
                        <li>{{item.numBirth}}  {{item.monthBirth}}  {{item.yearBirth}}</li>
                

                </div>

                <div  class="container-skill">

                    <h5 style="margin-bottom: 1vh;" class="title_style">Mis conocimientos </h5>
            
                                <!-- <ng-select
                                    [items]="optionThought"
                                    bindLabel="name"
                                    placeholder="Selecciona tus conocimientos"
                                    appendTo="body"
                                    [multiple]="true"
                                    [(ngModel)]="selectedKnowledge"
                                 >
                                    </ng-select> -->
                                <div class="container_list">
                                   <span class="list_one">{{item.knowledge[0].name}}</span> 
                                   <span class="list_two">{{item.knowledge[1].name}}</span>
                                   <span  class="list_three">{{item.knowledge[2].name}} </span>
                                  <span class="list_four"> {{item.knowledge[3].name}} </span>
                                  <span class="list_five">{{item.knowledge[4].name}}</span>
                                </div>

                    </div>

                 <div class="allSksa">

                              

                        <div class="container-skill2">
            
                                    <h5 class="title_style">Habilidades</h5>

                                        <!-- <ng-select
                                        [items]="optionSkill"
                                        bindLabel="name"
                                        placeholder="Selecciona tus habilidades"
                                        appendTo="body"
                                        [multiple]="true"
                                        [(ngModel)]="selected"
                                     
                                    > 
    
                                        </ng-select> -->
                                <div class="container_list2">
                                  <span class="list_one">{{item.skill[0].name}} </span>
                                   <span class="list_two">{{item.skill[1].name}} </span> 
                                   <span class="list_three">{{item.skill[2].name}}</span>  
                                   <span class="list_four">{{item.skill[3].name}} </span>
                                   <span class="list_five"> {{item.skill[4].name}}</span>  
                                </div>
                            </div>
                </div>

                <div  class="container_study">
                 <div class="titleS">
                    <img  style="margin-right: 1vw;"class="img-ubit" src="./../../../assets/images/gorro.png" alt="">

                    <h5 style="margin-bottom: 1vh;" class="title_style"> Formacion academica</h5>
                </div>

                <div class="ite1">
                    <div>
                        <span style="color: #474747; font-weight: 600;">Ultimo nivel de Estudios Terminado</span> <p>{{item.levelStudy}}</p>
                    </div>
                    <div>
                        <span style="color: #474747; font-weight: 600;">Titulo otorgado</span> <p>{{item.titleStudy}}</p>
                    </div>
                </div>   

                    <div class="ite1">
                        <div>
                          <span style="color: #474747; font-weight: 600;">Estado</span> <p>{{item.study}}</p>
                        </div>
                    </div>

                </div>

                <div class="experience" >
                    <h5 style="margin-bottom: 3vh;" class="title_style"> Experiencia Laboral</h5>
                    <div class="row_ex">
                          <span style="color: #474747; font-weight: 600;">Años de Experiencia laboral </span> <p> {{item.yearJob}}</p>
                     </div>
                    <div class="experience2">
                        <div class="row_2d">
                            <div  class="col_ex">
                            <span style="color: #474747; font-weight: 600;">Nombre del cargo</span> <p>{{item.nameJob}}</p>
                            </div>
                            <div class="col_ex">
                            <span style="color: #474747; font-weight: 600;">Empresa</span> <p>{{item.nameCompany}}</p>
                            </div>
                            <div>
                                <span style="color: #474747; font-weight: 600;">Sector Economico de la empresa</span> <p>{{item.sectorCompany}}</p>
                            </div>
                           

                        </div>
                        
                    <div class="row_2d">
                        <div class="col_ex">
                            <span style="color: #474747; font-weight: 600;">Fecha inicio</span> 
                            <div class="row_defaul">
                            <p>{{item.companyMonth}}</p><p>{{item.companyYear}}</p>
                            </div>
                        </div>
                        <div class="col_ex">
                            <span style="color: #474747; font-weight: 600;">Fecha Finalizacion</span> 
                            <div class="row_defaul">
                            <p>{{item.finalMonth}}</p><p>{{item.finalYear}}</p>
                          </div>
                        </div>
                    </div>
                  

               
                </div>

                <div class="row_2d">
                    <span style="margin-right: 3vw ; margin-top: 5vh ; color: #474747; font-weight: 600;">Logros Obtenidos</span> 
                    <p style="width: 45vw; margin-top: 5vh; text-align: justify;" name="" id="" cols="30" rows="5" >{{item.attainment}}</p>
                </div>
            </div>
                <div class="travis">
             
                    <img class="img-ubit" style="margin-right: 0.8vw; margin-top: 2vh;" src="./../../../assets/images/avion.png" alt="">     <span>{{item.travel}}</span>
 
                </div>

                <footer class="footer">

                </footer>
        </section>

</section>