<div class="sectionAvatar">
                
    <!-- <img src="./../../../assets/images/icon_content.svg" alt=""> -->
    <!-- <img src="./../../../assets/images/female1.svg" alt="">    -->
  
    <img class="img_avatar" src="{{imageSrc}}">

    <div class="message_avatar">
        <span>Selecciona tu avatar</span>
    </div>
    <div class="btns_avatar">
         <button class="img_btn2" (click)="selectAvatar()"><img class="img_btn" src="./../../../assets/images/female.png" alt=""></button>
         <button class="btn_male" (click)="selectAvatar2()"><img class="img_btn" src="./../../../assets/images/male.png" alt=""></button>
    </div>
    <!-- <img class="img_avatar2" src="{{imageSrc}}"> -->

</div>



