@import "~@ng-select/ng-select/themes/default.theme.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input{
  outline: none;
  border-radius: 5px;
  height: 6.5vh;
  border:  1px solid #3ab0ff;
  padding: 0.3em;
}
select{
  outline: none;
  border-radius: 5px;
  height: 6.5vh;
  border:  1px solid #20a6ff;
}
textarea{
  outline: none;
  width: 28vw;
  border-radius: 5px;
  border:  1px solid #20a6ff;
  overflow: hidden;
}
.container-skill2{
  width: 70vw;
  height: 20vh;
  padding: 1.5em;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  margin:17vh 0 0 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.user{
  width: 35vw;
  height: 20vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.datosP{
  width: 33vw;
  height: 35vh;
  margin: -2vh 0 0 15vw;
  padding-left:0;
  padding-top: 4vh;
}
.container_study{
  width: 70vw;
  height:auto;
  display: flex;
  flex-direction: column;
  margin: 5vh 0 0 15vw;
  background-color: #e2e5ff;
  padding: 1.5em;
  border-radius: 10px;
}
.titleS{
  width: 30vw;
  flex-direction: row;
  display: flex;
  border-radius: 10px;
}
.ite1{
  width: 50vw;
  margin-top: 2vh;
  flex-direction: row;
  display: flex;
  margin-left: 3vw;
  justify-content: space-between;
}
.experience{
  width: 70vw;
  height:auto;
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-top: 5vh;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.experience2{
  width: 60vw;
  flex-direction: column;
  display: flex;

  margin-top: 1vh;
}
.row_ex{
  width: 25vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;

}
.col_ex{
  width: 20vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.row_2d{
  flex-direction: row;
  width: 60vw;
  display: flex;
}
.row_defaul{
  display: flex;
  width: 5vw;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
}
.travis{
  width: 50vw;
  margin: 5vh 0 7vh 25vw;
  height: 28vh;
  padding: 1em;
  background-color: #e2e5ff;
  align-items: center;
  display: flex;
  border-radius: 10px;
  border: #0093E4 4px  dotted;
  
}
li{
  list-style:none;
}
.footer{
  width: 100vw;
  height: 5vh;
  background-color: #0093E4;
}
.list_one{
  width: auto;
  height: 6vh;
  /* background-color: #0093E4; */
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  border: #0093E4 1px solid;
  color: #0093E4;
  text-align: center;
  margin: 0.2em;
}
.container_list{
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
}
.list_two{
  width:auto;
  height: 6vh;
  /* background-color: #0093E4; */
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  text-align: center;
  border: #d85a5a 1px solid;
  color: #d85a5a;
  margin: 0.2em;
}
.list_three{
  width:auto;
  height: 6vh;
  /* background-color: #0093E4; */
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  text-align: center;
  border: #00aa06b2 1px solid;
  color: #00aa06b2;
  margin: 0.2em;
}
.list_four{
  width:auto;
  height: 6vh;
  /* background-color: #0093E4; */
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  text-align: center;
  border: #ff6f00b0 1px solid;
  color: #ff6f00b0;
  margin: 0.2em;
}
.list_five{
  width: auto;
  height: 6vh;
  /* background-color: #0093E4; */
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  border: #0093E4 1px solid;
  color: #0093E4;
  text-align: center;
  margin: 0.2em;
}
.container_list2{
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: no-wrap;
}
